p7/Aplicacion Windows form/Connected Services/ServiceReference2/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Persona">
        <s:complexType />
      </s:element>
      <s:element name="PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ci" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha_nac" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ci" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ci" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha_nac" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Persona" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarSoapIn">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="insertarSoapOut">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <wsdl:input message="tns:PersonaSoapIn" />
      <wsdl:output message="tns:PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <wsdl:input message="tns:insertarSoapIn" />
      <wsdl:output message="tns:insertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input message="tns:eliminarSoapIn" />
      <wsdl:output message="tns:eliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <wsdl:input message="tns:actualizarSoapIn" />
      <wsdl:output message="tns:actualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap:operation soapAction="http://tempuri.org/Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap12:operation soapAction="http://tempuri.org/Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap12:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap12:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap12:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44398/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44398/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>